

<!DOCTYPE html>
<html>
<head>
    <title>Chat App</title>
</head>
<body>

    <textarea id='chat-log' cols="100" rows="20"></textarea><br>
    <input type ="text" id = "chat-message-input" size="100"><br>
    <input type="button" value="send" id="chat-message-submit">

    <script>
        var ws =  new WebSocket('ws://127.0.0.1:8000/ws/sc/')
        ws.onopen = function(){
            console.log('opende');
        }
        ws.onmessage = function(event){
            console.log('opende');
            const data = JSON.parse(event.data);
            document.querySelector('#chat-log').value+=(data['msg'])
        }
        ws.onclose = function(){
            console.log('opende');
        }

        document.getElementById('chat-message-submit').onclick=
        function(event){
            const messageInputDom=document.getElementById
            ("chat-message-input")
            const message = messageInputDom.value
            ws.send(JSON.stringify({
                'msg':message
            }))
            messageInputDom.value=""
        }
    </script>
</body>
</html>